@if (users) {
<div class="container">
    <h2>{{ isEditMode ? '✏️ Editar Usuario' : '➕ Crear Usuario' }}</h2>
    <form [formGroup]="userForm" (ngSubmit)="saveUser()" class="formulario-usuario">
        <input formControlName="name" placeholder="Nombre" required>
        <input formControlName="email" type="email" placeholder="Correo" required>
        <input formControlName="password" type="password" placeholder="Contraseña" [required]="!isEditMode">

        <button mat-raised-button color="primary" type="submit">
            {{ isEditMode ? 'Actualizar' : 'Crear' }}
        </button>
        <button mat-button type="button" (click)="resetForm()" *ngIf="isEditMode">Cancelar</button>
    </form>

    <h2 class="titulo-tabla">👥 Lista de Usuarios</h2>
    <div class="tabla-cards">
        <div class="card-fila" *ngFor="let user of users">
            <div class="card-header">
                <mat-icon class="icono-usuario">person</mat-icon>
                <span class="card-title">{{ user.name }}</span>
            </div>
            <div class="card-content">
                <div class="info-linea">
                    <strong>Correo:</strong>
                    <span>{{ user.email }}</span>
                </div>
            </div>
            <div class="card-actions">
                <button mat-icon-button color="primary" (click)="editUser(user)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="deleteUser(user.id!)">
                    <mat-icon>delete</mat-icon>
                </button>

                <button mat-icon-button color="warn" (click)="deleteLogic(user.id!)">
                    <mat-icon>delete_outline</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>

}