@if (rols) {
<div class="container" *ngIf="rols">
    <button mat-flat-button routerLink="listDetele" style="margin-top: 4rem;">Restore</button>

    <h2 class="titulo-tabla">{{ isEditMode ? '✏️ Editar Rol' : '➕ Crear Rol' }}</h2>

    <form [formGroup]="rolForm" (ngSubmit)="saveRol()" class="form-form">
        <mat-form-field appearance="fill">
            <mat-label>Nombre del rol</mat-label>
            <input matInput formControlName="name" required>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Descripción</mat-label>
            <textarea matInput formControlName="description" required></textarea>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="rolForm.invalid">
            {{ isEditMode ? 'Actualizar' : 'Crear' }}
        </button>
        <button mat-button type="button" (click)="resetForm()" *ngIf="isEditMode">Cancelar</button>
    </form>

    <hr>

    <h2 class="titulo-tabla">📋 Lista de Roles</h2>

    <div class="tabla-cards">
        <div class="card-fila" *ngFor="let rol of rols">
            <div class="card-header">
                <mat-icon>supervisor_account</mat-icon>
                <span class="card-title">{{ rol.name }}</span>
            </div>

            <div class="card-content">
                <div class="info-linea">
                    <strong>Descripción:</strong>
                    <span>{{ rol.description }}</span>
                </div>
            </div>

            <div class="card-actions">
                <button mat-icon-button color="primary" (click)="editRol(rol)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="deleteRol(rol.id!)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>

}

<!-- <app-generic-crud
      [formGroup]="form"
      [service]="formService"
      [columns]="columns"
      [formFields]="fields"
      [getId]="getId"
    ></app-generic-crud> -->