.login-wrapper {
    min-height: 94.2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #74ebd5 0%, #6d88ff 100%);
    padding: 20px;
}

.login-card {
    width: 100%;
    max-width: 400px;
    padding: 30px 20px;
    border-radius: 20px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    transition: transform 0.3s ease;
}

.login-card:hover {
    transform: translateY(-5px);
}

.login-title {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #3f51b5;
    margin-bottom: 2rem;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.full-width {
    width: 100%;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 1rem;

}

.submit-button {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #303f9f;
}

.animate-fade-in {
    animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Responsivo */
@media (max-width: 480px) {
    .login-card {
        padding: 20px 15px;
    }

    .login-title {
        font-size: 1.5rem;
    }
}